<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" >
  <targets>
    <!--控制台输出-->
    <target name="ConsoleAsync" xsi:type="AsyncWrapper" overflowAction="Grow" >
      <target name="Console" xsi:type="Console"
              layout="${longdate}|${logger}|${threadname}|${threadid}|${level}: ${message}" />
    </target>
    <!--所有级别文件输出-->
    <target name="AllAsync" xsi:type="AsyncWrapper" overflowAction="Grow" >
      <target name="All" xsi:type="File"
              layout="${longdate}|${logger}|${threadname}|${threadid}|${level}: ${message}"
              fileName="${basedir}/logs/all.log"
              archiveEvery="Day"
              concurrentWrites = "false"
              keepFileOpen="false"
              encoding="utf-8"
              archiveFileName="${basedir}/logs/all-{#}.log"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="33554432"
              archiveDateFormat="yyyy-MM-dd"/>
    </target>
    <!--错误级别文件输出-->
    <target name="ErrorAsync" xsi:type="AsyncWrapper" overflowAction="Grow" >
      <target name="Error" xsi:type="File"
              layout="${longdate}|${logger}|${threadname}|${threadid}|${level}: ${message}"
              fileName="${basedir}/logs/error/error.log"
              archiveEvery="Day"
              concurrentWrites = "false"
              keepFileOpen="false"
              encoding="utf-8"
              archiveFileName="${basedir}/logs/error/error-{#}.log"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="33554432"
              archiveDateFormat="yyyy-MM-dd"/>
    </target>
    <!--编解码文件输出-->
    <target name="CodecAsync" xsi:type="AsyncWrapper" overflowAction="Grow" >
      <target name="Codec" xsi:type="File"
              layout="${longdate}|${logger}|${threadname}|${threadid}|${level}: ${message}"
              fileName="${basedir}/logs/codec/codec.log"
              archiveEvery="Day"
              concurrentWrites = "false"
              keepFileOpen="false"
              encoding="utf-8"
              archiveFileName="${basedir}/logs/codec/codec-{#}.log"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="33554432"
              archiveDateFormat="yyyy-MM-dd"/>
    </target>
  </targets>


  <rules>
    <logger name="*" minlevel="Debug" writeTo="ConsoleAsync" />
    <logger name="*" minlevel="Debug" writeTo="AllAsync" />
    <logger name="*" minlevel="Error" writeTo="ErrorAsync" />
    <logger name="DotNetty_NLog.codec.*" minlevel="Debug" writeTo="CodecAsync" />
  </rules>
</nlog>
